body {
    font-family: Arial, Helvetica, sans-serif;
    
}
/*flex box start*/
.flex-parent-element{
    display: flex;
    margin-top: 100px;
    width: 100%;
    height:500px;
}


.flex-child-element
{
    flex: 1;
    border: 2px solid orange;
    margin: 10px;
}

.flex-child-element:first-child{
    margin-right:20px;
}

/*flex box end*/

/*Slider start*/


/*Slider end*/



/*modal start*/

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: cyan;
    background-color: rgba(255, 45, 75, 0.5)
    
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
}

.close{
    color: #aaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color:black;
    text-decoration: none;
    cursor :pointer;
}

/*modal end*/

.btnStyle{
    background-color:rgb(9, 109, 87);
    border-radius: 5px;
    border: none;
    color: rgb(245, 242, 236);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 200px 250px;
    cursor: pointer;
    
  }
